:root {
  font-family: "Courier New", Courier, monospace, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #e0dcd3;
  background-color: #0a0a0a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --primary-color: #e0dcd3;
  --accent-color: #a40b0b;
  --bg-color: #0a0a0a;
  --board-bg: #1a1814;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

#app {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: left;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
